* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

/* Messagens erros */

.messages_errors{
    background-color: #ebcc94;
    border: 2px solid #f5f5db;
    padding: 1.3rem;
    width: 100%;
    border-radius: 5px;
    color: #868871;
    margin-bottom: 1rem;
}

.message-success{
    background-color: #868871;
    border: 2px solid #f5f5db;
    padding: 1.3rem;
    width: 100%;
    border-radius: 5px;
    color: #f5f5db;
    margin-bottom: 1rem;
}

.alert-warning{
    background-color: #f5f5db;
    border: 2px solid #868871;
    padding: 1.3rem;
    width: 100%;
    border-radius: 5px;
    color: #868871;
    margin-bottom: 1rem;
    margin-top: -1rem;
}
